* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgba(0, 0, 0, 0.3);
  --second-color: rgba(255, 255, 255, 0.3);
  --red: #920209;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  background: hsla(240, 9%, 13%, 1);
  background: linear-gradient(
    130deg,
    hsla(240, 9%, 13%, 1) 0%,
    hsla(60, 24%, 32%, 1) 100%
  );

  background: -moz-linear-gradient(
    130deg,
    hsla(240, 9%, 13%, 1) 0%,
    hsla(60, 24%, 32%, 1) 100%
  );

  background: -webkit-linear-gradient(
    130deg,
    hsla(240, 9%, 13%, 1) 0%,
    hsla(60, 24%, 32%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1D1D23", endColorstr="#64643D", GradientType=1 );
  font-family: Poppins;
  font-weight: 200;
  color: white;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h3 {
  font-size: 0.75em;
  font-weight: 500;
}
.rtl {
  direction: rtl;
}
i {
  cursor: pointer;
}
.root {
  padding: 2.5rem 15rem 1rem;

}
.main-2{
  position: relative;
}

.tools_container {
  position: absolute;
  left: -5rem;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
  border-radius: 35px;
  position: absolute;
  padding: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.tools_container ul {
  list-style: none;
}
.tools_container ul li {
  text-align: center;
}
.tools_container ul li i {
  font-size: 1.2em;
  color: white;
  opacity: 0.5;
  margin: 1rem 0;
  transition: all 0.5s;
}
.tools_container ul li i:hover {
  opacity: 1;
}
.tools_container ul:first-child {
  margin: 1.1rem 0;
}
.main {
   display: flex;
  justify-items: center;
  flex-direction: column;  
/*     align-items: center;
 */
}

.meeting {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 10px;
  background-color: var(--main-color);
}
.rightside {
  background-color: var(--second-color);
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info {
  margin: 1rem;
  display: grid;
  grid-template-columns: 35px 1fr auto;
  gap: 0.5rem;
  justify-content: space-between;
  background-color: var(--second-color);
  border-radius: 10px;
  padding: 0.7rem;
}

.info_leftside {
  display: flex;
}
.info img {
  aspect-ratio: 1/1;
  width: 36px;
  border-radius: 5px;
}
.info_texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.8rem;
  margin-top: 0.1rem;
}

.info_texts span {
  font-size: 0.6em;
}
.recording {
  font-weight: 700;
}
.recording i {
  color: var(--red);
  margin-right: 0.3rem;
  font-size: 1em;
  cursor: default !important;
}
.img-container {
  margin: 1rem;
  position: relative;
}
.img-container img {
  width: 100%;
  border-radius: 10px;
  max-height: 320px;
  object-fit: cover;
}
.on_video_info_container {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
}
.on_video_info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}
.on_video_info .btns {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.on_video_info .btns span {
  font-size: 0.7em;
}
.on_video_info > span {
  border-radius: 20px;
  background-color: var(--main-color);
  font-weight: 400;
  font-size: 0.7em;
  padding: 0.5rem 1.2rem 0.3rem;
}
.thumbnail {
  bottom: 0.2rem !important;
}
.thumbnail_span {
  font-size: 0.5em;
}
.thumbnail_btn {
  padding: 0.3rem 0.4rem !important;
}

.participant_videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}
.participant_video {
  position: relative;
  flex: 1 1 33%;
}

.participant_video img {
  width: 100%;
  border-radius: 10px;
  max-height: 132px;
  object-fit: cover;
}

.participants {
  padding: 1rem;
}
.participant_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.participant_row div h3 {
  display: inline-block;
}
.participant_row div span {
  font-size: 0.6em;
}
.show_btn {
  padding: 0.2rem 0.4rem;
  font-weight: 500;
  font-size: 0.7em;
  background-color: rgb(5, 85, 233);
  border-radius: 10px;
}
.user_info,
.user_btns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.user_info img,
.message_row img {
  aspect-ratio: 1/1;
  width: 30px;
}
.user_btn {
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 0.7rem;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.user_btn:hover {
  background-color: var(--second-color);
}

.messages {
  padding: 0.5rem 1rem;
  display: grid;
}
.message_row {
  display: flex;
  align-items: end;
  margin-top: 1rem;
}
.new_message {
  margin-top: 1.1rem;
  justify-content: space-between;
  gap: 0.2rem;
}
.write_message {
  background-color: var(--main-color);
  border-radius: 20px;
  height: 32px;
  display: flex;
  align-items: center;
  flex: 1 0 calc(100% - 32px);
  justify-content: space-between;
  padding-right: 0.2rem;
}

.new_message .user_btn i {
  font-size: 0.7em;
}

.message_input {
  outline: none;
  background-color: transparent;
  font-size: 0.8em;
  flex: 1 0 auto;
  margin: 0 0.8rem;
  padding: 0.2rem;
  border: 0;
  color: white;
}
.voice_btn {
  width: 26px !important;
  height: 26px !important;
  background-color: var(--second-color);
}

.bubble {
  position: relative;
  padding: 0.6rem;
  border-radius: 18px;
  width: auto;
  color: white;
  font-size: 0.6em;
  word-wrap: break-word;
}
.right {
  background-color: var(--second-color);
  border-bottom-right-radius: 0;
  margin-right: 30px;
}

.right::after {
  content: "";
  right: -20px;
  bottom: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0em auto;
  background-image: radial-gradient(
    circle at 100% 0,
    transparent 0%,
    transparent 20px,
    var(--second-color) 20px
  );
}

.left {
  background-color: var(--main-color);
  border-bottom-left-radius: 0;
  margin-left: 30px;
}

.left::after {
  content: "";
  left: -20px;
  bottom: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0em auto;
  background-image: radial-gradient(
    circle at 0 0,
    transparent 0%,
    transparent 20px,
    var(--main-color) 20px
  );
}

.bottom_toolbar {
  background-color: var(--main-color);
  border-radius: 35px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6rem;
  width: auto;
  margin: 1.5rem auto;
}

.bottom_btn {
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 0.3rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 0.4rem 0;
  transition: all 0.5s;
}
.bottom_btn:hover {
  background-color: var(--second-color);
}
.end_call {
  width: auto;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  font-weight: 400;
}
.bg_red {
  background-color: var(--red);
}
